@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* @import "tailwindcss";

:root {
  --bg-color: #050816;
  --primary-color: #915EFF;
  --card-color: #151030;
  --text-color: #FFFFFF;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
} */